*.class
*.log
*.sh
tmp/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.project
.classpath
.scala_dependencies
.worksheet
