- import nn.editor.action.Index

!!! 5
html
  head
    title Neural Network Editor
    meta(charset='utf-8')
    meta(viewport='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

    link(href='css/styles.css' rel='stylesheet')

    != jsDefaults

    script(src='js/libs/dat.gui.min.js')
    script(src='js/libs/notify.min.js')
    script(src='js/libs/mousetrap.min.js')
    script(src='js/libs/three.min.js')

    script(src='js/main.js')
    script(src='js/Viewport.js')

  body(onload='main()')
    #viewport
